@using Chess.Frontend.ChessLogic.Pieces
@using Chess.Frontend.CustomElements
@using ChessLogic
@page "/game/{matchId:guid}"

<PageTitle>Match</PageTitle>
@if (isStarted)
{
    <Board LightColor=0xffcf9f DarkColor=0xd28c45 />
}
else
{
    <div>

    </div>
}


@code{
    bool isStarted = false;

    public void GetInfo()
    {
        
    }
}