@inject HttpClient Client
@inject ProtectedLocalStorage localStorage;
@page "/login"

@using System.Net.Mime
@using System.Text
@using System.Text.Json
@using Chess.Frontend.Dto
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

<PageTitle>welcome</PageTitle>

<div class="register-box">
    <h3>Welcome back!</h3>
    <div class="fields-grid">
        <span>Login</span>
        <input type="text" @oninput="e => login = e.Value.ToString()">
        <span>Password</span>
        <input type="password" @oninput="e => password = e.Value.ToString()">
    </div>

    <input type="button" value="Login" class="button" @onclick="SendRegisterRequest">

    @response
</div>

@code {
    string login = string.Empty;
    string password = string.Empty;
    string response = "";

    private async void SendRegisterRequest(MouseEventArgs e)
    {
        if (password == string.Empty || login == string.Empty) return;
        string body = "{\"login\":\"" + login + "\",\"password\":\"" + password + "\"}";

        using var request = new HttpRequestMessage(HttpMethod.Post, "/auth/login");
        var content = new System.Net.Http.StringContent(body, Encoding.UTF8, "application/json");
        request.Content = content;

        var response = Client.Send(request);
        if (response.IsSuccessStatusCode)
        {
            this.response = await response.Content.ReadAsStringAsync();
            RegisterResponse? registerResponse = JsonSerializer.Deserialize<RegisterResponse>(this.response);
            await localStorage.SetAsync("accessToken", $"{registerResponse.accessToken}");
            await localStorage.SetAsync("refreshToken", $"{registerResponse.refreshToken}");
            await localStorage.SetAsync("userId", $"{registerResponse.userId}");
            
        }
        else
        {
            this.response = response.StatusCode.ToString();
        }
    }
}